
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #0b0b0b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
  border-radius: 8px;
}

.login-header {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link p {
  margin: 0;
  text-align: center;
}

.signup-link span {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
  
}
